/* HEADER */
.menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-title {
    display: flex;
    margin-right: 20px;
    font-size: 1.5em;
    font-weight: 600;
}
.main-menu {
    display: flex;
}
.main-menu li a {
    display: block;
    padding: 10px;
    color: #989998;
}
.main-menu li a:hover {
    color: #e5e5e5;
}
