body {
    /* add background-color */
    background-color: rgb(50, 50, 50) !important;
    color: #fff !important;
}

a {
    text-decoration: none;
}

.header-title {
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
}

.header-title:hover {
    color: #e2e2e2;
}

.toggler-icon {
    color: #fff;
}

.header-item {
    color: #767676;
}

.header-item:hover {
    color: #e2e2e2;
}

.item__active {
    color: #fff;
}

.jumbotron {
    margin-top: 60px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.list-layout {
    overflow-x: scroll;
}

.list-image {
    /* max-width: 130px; */
    max-height: 150px;
    margin-bottom: 1rem;
}

/* content-detail */
.media--title {
    margin-right: 2em;
    font-size: 1.25em;
}

.media--li {
    cursor: pointer;
    font-size: 1.25em;
}

.content-poster {
    max-width: 200px;
}

/* person-detail */
.filmography-text {
    display: inline-block;
    color: #000;
}
.filmography-text:hover {
    text-decoration: none;
}

.list-group-item {
    padding: 0.75rem 0.25rem;
}
